<template>
  <div>
    <b-row>
      <b-col>
        <b-card
          border-variant="light"
          header="INGRESAR PRODUCTO"
          class="text-center"
        >
        </b-card>
        <b-card>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group
              id="input-group-productName"
              label="Nombre producto:"
              label-for="inputProductName"
            >
              <b-form-input
                id="inputProductName"
                v-model="form.nombreProducto"
                required
                placeholder="Nombre producto"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-productPrice"
              label="Precio:"
              label-for="inputProductPrice"
            >
              <b-form-input
                id="inputProductPrice"
                v-model="form.precioProducto"
                required
                placeholder="Precio producto"
              ></b-form-input>
            </b-form-group>
            <div>
              <b-button type="submit" variant="success" size="lg"
                >Ingresar</b-button
              >
            </div>
          </b-form>
        </b-card>
      </b-col>
      <b-col>
        <table class="table table-hover table-bordered">
          <thead>
            <tr data-type="String">
              <th>NOMBRE</th>
              <th>PRECIO</th>
              <th>ELIMINAR</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in products" :key="product._id">
              <td>{{ product.nombreProducto }}</td>
              <td>&#36;{{ Math.round(product.precioProducto) }}</td>
              <td>
                <button
                  class="btn btn-danger"
                  v-on:click="deleteProduct(product._id)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        nombreProducto: "",
        precioProducto: 0,
      },
      products: [],
      show: true,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      //alert(JSON.stringify(this.form));
      fetch("/api/products", {
        method: "POST",
        body: JSON.stringify(this.form),
        headers: {
          'Accept': "application/json",
          "Content-type": "application/json",
        },
      })
        .then((res) => res.json())
        .then((data) => {
          this.getProducts();
        });

      this.onReset();
      window.alert("Producto ingresado correctamente");
    },
    getProducts() {
      fetch("/api/products")
        .then((res) => res.json())
        .then((data) => {
          this.products = data;
        });
    },
    onReset() {
      // Reset our form values
      this.form.nombreProducto = "";
      this.form.precioProducto = 0;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    deleteProduct(id) {
      const response = confirm("¿Está seguro de eliminar este elemento?");
      if (response) {
        fetch("/api/products/" + id, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
        })
          .then((res) => res.json())
          .then((data) => {
            this.getProducts();
          });
      }
    },
  },
  created() {
    this.getProducts();
  },
};
</script>

<style>
</style>