<template>
  <div class="alert alert-danger">{{ msg }}</div>
</template>

<script>
export default {
  props: ["msg"]
};
</script>

<style scoped>
.alert {
  border-radius: 0px;
}
.alert-danger {
  background: rgba(136, 1, 1, 0.815);
  color: #fff;
}
</style>