<template>
  <div>
    <NavAdmin/>
    <div id="tituloLogin"><h2>ADMINISTRACIÓN IMPROTEM</h2></div>
    <div class="container">
      <Errors v-if="error" :msg="error" />
    </div>
    <div class="row">
      <div class="cardLogin mx-auto">
        <div class="card-header text-white bg-primary">
          <h4>INICIAR SESIÓN</h4>
        </div>
        <div class="card-body">
          <form @submit.prevent="loginUser">
            <div class="form-group">
              <label for="username">Usuario</label>
              <input
                id="username"
                type="text"
                placeholder=""
                name="username"
                v-model="username"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input
                type="password"
                class="form-control"
                placeholder=""
                name="password"
                id="password"
                v-model="password"
              />
            </div>
            <input type="submit" class="btn btn-primary" value="Ingresar" />
            &nbsp;&nbsp;&nbsp;&nbsp;
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"
import { mapGetters } from "vuex"
import Errors from './Errors.vue'
import NavAdmin from './NavAdmin.vue'
export default {
  components: {
    Errors,
    NavAdmin
  },
  computed: {
    ...mapGetters(["error"])
  },
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    ...mapActions(["login"]),
    loginUser() {
      let user = {
        username: this.username,
        password: this.password,
      };
      this.login(user)
        .then((res) => {
          if (res.data.success) {
            this.$router.push("/profile");
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style>
.cardLogin {
  width: 60%;
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
#tituloLogin {
  text-align: center;
  padding: 3%;
}
</style>