<template>
  <div>
    <NavAdmin />
    <h2>Bienvenid@ {{ user.name }}</h2>
    <div class="profileData" v-if="user">
      <ul class="list-group">
        <li class="list-group-item">Usuario conectado: {{ user.username }}</li>
      </ul>
      <b-container>
        <b-tabs content-class="mt-3" align="center">
          <b-tab title="PEDIDOS" active>
            <table class="table table-hover table-bordered">
              <thead>
                <tr data-type="number">
                  <th>NOMBRE</th>
                  <th>EMAIL</th>
                  <th>CELULAR</th>
                  <th>PRODUCTO</th>
                  <th>ANCHO</th>
                  <th>ALTO</th>
                  <th>CANTIDAD</th>
                  <th>FECHA</th>
                  <th>ELIMINAR</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="order in orders" :key="order._id">
                  <td>{{ order.nombre }}</td>
                  <td>{{ order.email }}</td>
                  <td>{{ order.celular }}</td>
                  <td>{{ order.producto }}</td>
                  <td>{{ order.ancho }}</td>
                  <td>{{ order.alto }}</td>
                  <td>{{ order.cantidad }}</td>
                  <td>{{ order.fecha }}</td>
                  <td>
                    <button
                      class="btn btn-danger"
                      v-on:click="deleteOrder(order._id)"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </b-tab>
          <b-tab title="SUSCRITOS">
            <TableSus />
          </b-tab>
          <b-tab title="PRODUCTOS">
            <EnterProduct />
          </b-tab>
        </b-tabs>
      </b-container>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import NavAdmin from "./NavAdmin.vue";
import TableSus from "./TableSus.vue";
import EnterProduct from "./EnterProduct.vue";
export default {
  components: {
    NavAdmin,
    TableSus,
    EnterProduct
  },
  data() {
    return {
      orders: [],
    };
  },
  computed: mapGetters(["user"]),
  methods: {
    ...mapActions(["getProfile"]),

    getOrders() {
      fetch("/api/orders")
        .then((res) => res.json())
        .then((data) => {
          this.orders = data;
        });
    },
    deleteOrder(id) {
      const response = confirm("¿Está seguro de eliminar este elemento?");
      if (response) {
        fetch("/api/orders/" + id, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
        })
          .then((res) => res.json())
          .then((data) => {
            this.getOrders();
          });
      }
    },
  },
  created() {
    this.getProfile();
    this.getOrders();
  },
};
</script>

<style>
</style>