<template>
  <div>
    <NavAdmin />
    <div id="tituloRegistro"><h2>REGISTRO</h2></div>
    <div class="container">
      <Errors v-if="error" :msg="error" />
    </div>
    <div class="row">
      <div class="card mx-auto">
        <div class="card-header text-white bg-primary">
          <h4>NUEVO USUARIO</h4>
        </div>
        <div class="card-body">
          <form @submit.prevent="registerUser">
            <div class="form-group">
              <label for="username">Usuario</label>
              <input
                id="username"
                type="text"
                placeholder=""
                name="username"
                v-model="username"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="name">Nombre</label>
              <input
                id="name"
                type="text"
                placeholder=""
                name="name"
                v-model="name"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                id="email"
                type="text"
                placeholder=""
                name="email"
                v-model="email"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input
                type="password"
                class="form-control"
                placeholder=""
                name="password"
                id="password"
                v-model="password"
              />
            </div>
            <div class="form-group">
              <label for="confirm_password">Confirme contraseña</label>
              <input
                type="password"
                class="form-control"
                placeholder="Confirm Password"
                name="confirm_password"
                id="confirm_password"
                v-model="confirm_password"
              />
            </div>
            <button class="btn btn-primary">Registarse</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <router-link to="/login" class="card-link"
              >¿Ya tiene una cuenta?</router-link
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"
import { mapGetters } from "vuex"
import NavAdmin from './NavAdmin.vue'
import Errors from './Errors.vue'
export default {
  components: {
    NavAdmin,
    Errors
  },
  computed: {
    ...mapGetters(["error"])
  },
  data() {
    return {
      username: "",
      password: "",
      confirm_password: "",
      name: "",
      email: "",
    };
  },
  methods: {
    ...mapActions(["register"]),
    registerUser() {
      let user = {
        username: this.username,
        password: this.password,
        confirm_password: this.confirm_password,
        email: this.email,
        name: this.name,
      };
      this.register(user).then((res) => {
        if (res.data.success) {
          this.$router.push("login");
          window.alert('Usuario registrado correctamente');
          this.username = "";
          this.password = "";
          this.confirm_password = "";
          this.name = "";
          this.email = "";
        }
      });
    },
  },
};
</script>

<style>
.cardRegister {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
#tituloRegistro {
  text-align: center;
  padding: 1%;
}
</style>