<template>
  <div>
    <table id="tblData" class="table table-hover table-bordered">
      <thead>
        <tr data-type="String">
          <th>NOMBRE</th>
          <th>EMAIL</th>
          <th>ELIMINAR</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="customer in customers" :key="customer._id">
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>
            <button
              class="btn btn-danger"
              v-on:click="deleteCustomer(customer._id)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      customers: [],
    };
  },
  methods: {
    getCustomers() {
      fetch("/api/customers")
        .then((res) => res.json())
        .then((data) => {
          this.customers = data;
        });
    },
    deleteCustomer(id) {
      const response = confirm("¿Está seguro de eliminar este elemento?");
      if (response) {
        fetch("/api/customers/" + id, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
        })
          .then((res) => res.json())
          .then((data) => {
            this.getCustomers();
          });
      }
    },
  },
  created() {
    this.getCustomers();
  },
};
</script>

<style>
</style>