<template>
  <div id="ap">
    <NavAdmin />
    <br />
    <br />
    <div class="container">
      <router-view />
    </div>
    <div id="adminContent">
        <h1>ADMINISTRACIÓN IMPROTEM</h1>
        <h5 id="subTextAdmin">Para ir a las opciones de administración, inicie sesión con su usuario y contraseña.</h5>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import NavAdmin from "../components/admin/NavAdmin.vue";

export default {
  components: {
    NavAdmin,
  },
  computed: {
    ...mapGetters(["error"]),
  },
};
</script>
<style>
#adminContent{
  text-align: center;
  background-color: rgb(218, 218, 218);
  width: 60%;
  padding: 8%;
  margin-left: 20%;
}
#subTextAdmin{
  color: rgb(54, 53, 53);
  padding: 3%;
}
</style>