<template>
  <div id="principal">
    <Header />
    <Marca />
    <Navbar :menu="menu"/>
    <Portada id="inicio"/>
    <Informacion id="informacion"/>
    <Beneficios id="beneficios"/>
    <Productos id="productos"/>
    <Ingreso id="ingreso"/>
    <Suscripcion id="suscripcion"/>
    <Footer />
  </div>
</template>

<script>
import Header from '../components/home/header.vue'
import Marca from '../components/home/marca.vue'
import Navbar from '../components/home/navbar.vue'
import Portada from '../components/home/portada.vue'
import Informacion from '../components/home/informacion.vue'
import Beneficios from '../components/home/beneficios.vue'
import Productos from '../components/home/productos.vue'
import Ingreso from '../components/home/ingreso.vue'
import Suscripcion from '../components/home/suscripcion.vue'
import Footer from '../components/home/footer.vue'

export default {
  data () {
    return {
      menu: [
        {
          name: 'INICIO',
          href: '#inicio'
        },
        {
          name: 'NUESTRA EMPRESA',
          href: '#informacion'
        },
        {
          name: 'BENEFICIOS',
          href: '#beneficios'
        },
        {
          name: 'PRODUCTOS',
          href: '#productos'
        },
        {
          name: 'COTIZAR',
          href: '#ingreso'
        },
        {
          name: 'SUSCRIPCIÓN',
          href: '#suscripcion'
        }
      ]
    }
  },
  name: 'App',
  components: {
    Header,
    Marca,
    Navbar,
    Portada,
    Informacion,
    Beneficios,
    Productos,
    Ingreso,
    Suscripcion,
    Footer
  }
}
</script>

<style>
  #principal{
    background-color: rgba(247, 244, 244, 0.473);
  }
</style>
}