<template>
  <v-container text-xs-center mt-2 class="container1">
    <v-layout>
      <v-flex>
        <h6 class="display-4 info-title mt-4">BENEFICIOS</h6>
        <v-divider />
      </v-flex>
    </v-layout>
    <div>
      <div class="card2"><h3>EN IMPROTEM TE OFRECEMOS:</h3></div>
      <b-card no-body class="overflow-hidden" style="max-width: 1000px">
        <b-row class="row1">
          <b-col md="6">
            <b-card-img
              src="https://i.ibb.co/2Ws62qG/beneficios.png"
              alt="Image"
              class="rounded-0"
            ></b-card-img>
          </b-col>
          <b-col md="6">
            <ul class="lista6">
              <ol>
                <h5>&#10004; PRODUCTOS DURABLES</h5>
              </ol>
              <p></p>
              <ol>
                <h5>&#10004; ALTA RELACIÓN PRECIO CALIDAD</h5>
              </ol>
              <p></p>
              <ol>
                <h5>&#10004; ALTA DEFINICIÓN DE IMPRESIÓN</h5>
              </ol>
              <p></p>
              <ol>
                <h5>&#10004; PREOCUPACIÓN POR LOS DETALLES</h5>
              </ol>
              <p></p>
              <ol>
                <h5>&#10004; ATENCIÓN RÁPIDA Y OPORTUNA</h5>
              </ol>
              <p></p>
              <ol>
                <h5>&#10004; RETIRO EN LOCAL O ENTREGA PERSONALIZADA</h5>
              </ol>
              <p></p>
              <ol>
                <h5>&#10004; ENVÍOS A TODO EL SUR DE CHILE</h5>
              </ol>
              <p></p>
            </ul>
          </b-col>
        </b-row>
      </b-card>
    </div>
    <v-divider />
  </v-container>
</template>

<script>
export default {
}
</script>

<style>
.info-title {
  text-align: center;
}
.container1 {
  margin: 3%;
}
.card2 {
  text-align: center;
  margin: 2%;
}
.row1 {
  align-content: center;
}
.lista6 {
  margin: 5%;
}
</style>
