<template>
  <footer id="foot">
    <b-row>
      <b-col
        ><ul id="footerDiv">
          <ol class="footerText">IMPROTEM</ol>
          <ol class="footerText">IMPRESIÓN DIGITAL</ol>
          <ol class="footerText">TEMUCO, CHILE</ol>
        </ul></b-col
      >
      <b-col
        ><ul id="footerDiv2">
          <ol class="footerText">Whatsapp: +56987654321</ol>
          <ol class="footerText">Email: ventas@improtem.cl</ol>
          <ol class="footerText">Facebook e Instagram:</ol>
          <ol class="footerText">Improtem Impresión Digital</ol>
        </ul></b-col
      >
    </b-row>
  </footer>
</template>

<script>
export default {
}
</script>


<style>
#foot {
  background-color: black;
}

#footerDiv {
  padding: 8%;
  text-align: left;
}

#footerDiv2 {
  padding: 8%;
  text-align: right;
}

.footerText {
  color: rgb(255, 255, 255);
}
</style>