<template>
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
        <b-nav-item href="https://www.facebook.com/improtemimpresiondigital" target="_blank">Facebook</b-nav-item>
        <b-nav-item href="https://www.instagram.com/improtemimpresiondigital" target="_blank">Instagram</b-nav-item>
        <b-nav-item href="mailto:ventas@improtem.cl">Email: ventas@improtem.cl</b-nav-item>
        <b-nav-item>WhatsApp: +56998765432</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
</template>

<script>
export default {
}
</script>


<style>
#textoHeader{
  color: aliceblue;
}
</style>
