<template>
  <v-container text-xs-center mt-2 class="container1">
    <v-layout>
      <v-flex>
        <h6 class="display-4 info-title mt-4">NUESTRA EMPRESA</h6>
      </v-flex>
    </v-layout>
    <v-divider />
    <b-card-group deck>
      <b-card no-body class="overflow-hidden" style="max-width: 540px">
        <b-row no-gutters>
          <b-col md="6">
            <b-card-img
              src="https://i.ibb.co/xh27DWq/impresion-publicidad-comunicacion-visual-banners.jpg"
              alt="Image"
              class="rounded-0"
            ></b-card-img>
            <b-card-img
              src="https://www.agpcardinales.cl/wp-content/uploads/2017/11/Impressa_offset.-Impressa_impresion.jpg"
              alt="Image"
              class="rounded-0"
            ></b-card-img>
          </b-col>
          <b-col md="6">
            <b-card-body title="¿QUÉ HACEMOS?">
              <b-card-text>
                Nos dedicamos principalmente a desarrollar soluciones
                publicitarias mediante la confección de productos como:
              </b-card-text>
              <v-divider />
              <div class="lista1">
                <ul>
                  <li>Pendones</li>
                  <li>Gigantografías</li>
                  <li>Etiqueta Adhesivas</li>
                  <li>Gráfica Vehicular</li>
                  <li>Pendones Roller</li>
                  <li>Letreros Luminosos</li>
                </ul>
              </div>
            </b-card-body>
          </b-col>
        </b-row>
      </b-card>
      <b-card header="">
        <blockquote class="blockquote mb-">
          <p>
            MISIÓN
          </p>
          <footer class="blockquote-footer">
            Buscamos ser una empresa que se caracterice
            por entregar productos con precios justos, de 
            alta calidad y en el menor tiempo posible, poniendo
            siempre en primer lugar las preferencias y opiniones de 
            nuestros clientes.
          </footer>
        </blockquote>
        <v-divider />
        <blockquote class="blockquote mb-">
          <p>
            VISIÓN
          </p>
          <footer class="blockquote-footer">
            Nuestro objetivo es posicionarnos como una 
            empresa líder en la industria de la Impresión 
            Digital, recordando siempre nuestros valores y
            compromiso con nuestros clientes.
          </footer>
        </blockquote>
      </b-card>
    </b-card-group>
    <v-divider />
  </v-container>
</template>

<script>
export default {
}
</script>

<style>
.info-title {
  text-align: center;
}
.lista1 {
  margin: 8%;
}
.container1{
    margin: 3%;
    background-color:rgba(247, 243, 243, 0.747);
}
</style>