<template>
  <v-container text-xs-center mt-2 class="container1">
    <v-layout>
      <v-flex>
        <h3>COTIZA E INGRESA TU PEDIDO</h3>
      </v-flex>
    </v-layout>
    <v-divider />
    <b-container fluid class="bv-example-row">
      <b-row>
        <b-col md="6">
          <b-form @submit="onSubmitOrder" @reset="onReset" v-if="show">
            <b-form-group
              id="input-group-1"
              label="Nombre:"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model="form.nombre"
                required
                placeholder="Ingresa tu nombre"
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Email:" label-for="input-2">
              <b-form-input
                id="input-2"
                v-model="form.email"
                type="email"
                required
                placeholder="Ejemplo: asdfg@asdc.com"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-3"
              label="Celular:"
              label-for="input-3"
            >
              <b-form-input
                id="input-3"
                v-model="form.celular"
                required
                placeholder="Ejemplo: 987654321"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-4"
              label="Producto:"
              label-for="input-4"
            >
              <b-form-select id="input-4" v-model="form.producto" required>
                <option v-for="product in Productos" :key="product._id">
                  {{ product.nombreProducto }}
                </option>
              </b-form-select>
            </b-form-group>
            <b-row>
              <b-col>
                <b-form-group
                  id="input-group-5"
                  label="Ancho (metros):"
                  label-for="input-5"
                >
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="form.ancho"
                    inline
                    min="0.1"
                    max="30"
                    step="0.1"
                    required
                  ></b-form-spinbutton>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group
                  id="input-group-6"
                  label="Alto (metros):"
                  label-for="input-6"
                >
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="form.alto"
                    inline
                    min="0.1"
                    max="1.8"
                    step="0.1"
                    required
                  ></b-form-spinbutton>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group
                  id="input-group-7"
                  label="Cantidad:"
                  label-for="input-7"
                >
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="form.cantidad"
                    inline
                    min="1"
                    max="99"
                    step="1"
                    required
                  ></b-form-spinbutton>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form>
        </b-col>
        <b-col md="6">
          <b-row id="filaValor">
            <b-card
              border-variant="info"
              header="VALOR TOTAL DE LA COTIZACIÓN"
              align="center"
            >
              <b-card-text v-for="product in Productos" :key="product._id">
                <div v-if="form.producto == product.nombreProducto">
                  <div
                    v-if="
                      product.nombreProducto == 'Roller' ||
                      product.nombreProducto == 'Roller 80cm' ||
                      product.nombreProducto == 'Roller 90cm' ||
                      product.nombreProducto == 'Roller 100cm'
                    "
                  >
                    <h2 class="display">
                      &#36;{{
                        parseInt(product.precioProducto) *
                        parseInt(form.cantidad)
                      }}
                    </h2>
                  </div>
                  <div v-else>
                    <h2 class="display">
                      &#36;{{
                        Math.round(
                          parseInt(product.precioProducto, 10) *
                            parseInt(form.cantidad) *
                            parseFloat(form.alto) *
                            parseFloat(form.ancho)
                        )
                      }}
                    </h2>
                  </div>
                </div>
              </b-card-text>
            </b-card>
          </b-row>
          <b-row id="filaIngreso"
            ><b-card
              bg-variant="dark"
              text-variant="white"
              title="INGRESAR TU PEDIDO"
            >
              <b-card-text>
                Presiona ENVIAR y te contactaremos a la brevedad para ajustar
                los detalles!
              </b-card-text>
              <b-button
                type="submit"
                variant="success"
                size="lg"
                v-on:click="onSubmitOrder"
                >ENVIAR</b-button
              >
            </b-card>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
    <v-divider />
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      valor: 0,
      form: {
        nombre: "",
        email: "",
        celular: "",
        producto: null,
        ancho: 0.1,
        alto: 0.1,
        cantidad: 1,
      },
      Productos: [],
      show: true,
    };
  },
  methods: {
    onSubmitOrder(evt) {
      evt.preventDefault();
      this.form.fecha = new Date();
      if (
        this.form.nombre != "" &&
        this.form.email != "" &&
        this.form.celular != "" &&
        this.form.producto != "" &&
        this.form.producto != null
      ) {
        if (
          /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i.test(
            this.form.email
          )
        ) {
          if (/^9[\d]{8}$/.test(parseInt(this.form.celular))) {
            var opcion = confirm("¿Desea confirmar el pedido?");
            if (opcion == true) {
              fetch("/api/orders", {
                method: "POST",
                body: JSON.stringify(this.form),
                headers: {
                  Accept: "application/json",
                  "Content-type": "application/json",
                },
              })
                .then((res) => res.json())
                .then((data) => console.log(data));

              this.onReset();
              alert("El pedido fue ingresado correctamente!");
            }
          } else {
            alert("Formato de Celular incorrecto, debe contener nueve números");
          }
        } else {
          alert("Formato de Email incorrecto");
        }
      } else {
        alert("Complete todos los campos");
      }
    },
    onReset() {
      this.form.nombre = "";
      this.form.email = "";
      this.form.celular = "";
      this.form.producto = null;
      this.form.ancho = 0.1;
      this.form.alto = 0.1;
      this.form.cantidad = 1;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    getProducts() {
      fetch("/api/products")
        .then((res) => res.json())
        .then((data) => {
          this.Productos = data;
        });
    },
  },
  created() {
    this.getProducts();
  },
};
</script>

<style>
.info-title {
  text-align: center;
}
.container1 {
  background-color: rgba(247, 243, 243, 0.747);
}
#filaValor {
  margin: 5%;
  padding-left: 22%;
  text-align: center;
}
#filaIngreso {
  margin: 5%;
  padding-left: 5%;
  text-align: center;
}
#btnSubmit {
  text-align: center;
}
</style>