<template>
  <div class="marca">
    <img src="https://i.ibb.co/wWWHh7m/logo.jpg" alt="null" width="350px" height="80px">
  </div>
</template>

<script>
export default {
}
</script>

<style>
.marca { 
  text-align: center;
  background-color: white;
}
.title {
  text-align: center;
  text-anchor: middle;
}
.subtitle {
  text-align: center;
  text-anchor: middle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
</style>