<template>
  <b-navbar toggleable="lg" type="light" variant="light">
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="menu">
        <b-button variant="light" v-for="item in menu" :key="item.name" :href="item.href" flat >{{ item.name }}</b-button>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  props: ["menu"],
};
</script>

<style>
.menu {
  margin-left: 25%;
}
</style>
