<template>
  <v-parallax :src="getImgUrl()">
    <v-layout column align-center justify-center class="white--text">
      <b-container>
        <b-row>
          <b-col md="12">
            <h1 id="tituloPortada">
              Impresión Digital de Calidad al mejor Precio de La Araucanía
            </h1>
            <div class="boton">
              <b-button variant="success" size="lg" href="#ingreso"
                >COTIZAR AHORA</b-button
              >
            </div>
          </b-col>
        </b-row>
      </b-container>
    </v-layout>
  </v-parallax>
</template>

<script>
export default {
  methods: {
    getImgUrl() {
      return "https://i.ibb.co/S3X3Rks/portada.png";
    },
  },
};
</script>

<style>
.boton {
  text-align: center;
  padding: 2%;
}
#tituloPortada{
  text-align: center;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 50px;
  font-display: auto;
}
</style>
