<template>
  <v-container text-xs-center mt-2 class="container1">
    <v-layout>
      <v-flex>
        <h6 class="display-4 info-title mt-4">PRODUCTOS</h6>
      </v-flex>
    </v-layout>
    <v-divider />
    <div>
      <b-card-group deck>
        <b-card
          title="GIGANTOGRAFÍAS"
          img-src="http://invademedios.cl/wp-content/uploads/2014/05/Gigantograf%C3%ADa-Unipole-En-La-Serena.jpeg"
          img-alt="Image"
          img-top
          
        >
          <b-card-text>
            Tela PVC de diferentes medidas
          </b-card-text>
          <b-card-text class="small text-muted"></b-card-text>
        </b-card>

        <b-card
          title="PENDONES ROLLER"
          img-src="https://imprentamarsella.cl/wp-content/uploads/2018/07/PendonesRoller.jpg"
          img-alt="Image"
          img-top
        >
          <b-card-text>
            Incluye estructura completa
          </b-card-text>
          <b-card-text class="small text-muted"></b-card-text>
        </b-card>

        <b-card
          title="ETIQUETAS ADHESIVAS"
          img-src="http://etiquetex.cl/wp-content/uploads/2012/02/etiquetas-autoadhesivas-etiquetex.jpg"
          img-alt="Image"
          img-top
        >
          <b-card-text>
            Etiquetas Adhesivas de todos los tamaños y colores. Incluye troquelado
          </b-card-text>
          <b-card-text class="small text-muted"></b-card-text>
        </b-card>
      </b-card-group>
    </div>
    <div class="mt-3">
      <b-card-group deck>
        <b-card
          title="GRÁFICA VEHICULAR"
          img-src="https://graficavehicular.cl/wp-content/uploads/2019/08/IMG_7117.jpg"
          img-alt="Image"
          img-top
        >
          <b-card-text>
            Diversos formatos: Lunetas, Stickers, Adhesivo Transparente
          </b-card-text>
          <b-card-text class="small text-muted"></b-card-text>
        </b-card>

        <b-card
          title="PENDONES"
          img-src="https://img.yapo.cl/images/15/1585624800.jpg"
          img-alt="Image"
          img-top
        >
          <b-card-text>
            Incluye estructura completa
          </b-card-text>
          <b-card-text class="small text-muted"></b-card-text>
        </b-card>

        <b-card
          title="LETREROS LUMINOSOS"
          img-src="http://www.chaconprintservice.com/img/secciones/gigantografia/lona7-2.jpg"
          img-alt="Image"
          img-top
        >
          <b-card-text>
            Incluye estructura completa
          </b-card-text>
          <b-card-text class="small text-muted"></b-card-text>
        </b-card>
      </b-card-group>
    </div>
    <v-divider />
  </v-container>
</template>

<script>
export default {
}
</script>


<style>
.info-title {
  text-align: center;
}
.container1 {
  margin: 3%;
  background-color: rgba(247, 243, 243, 0.747);
}
</style>