<template>
  <v-container text-xs-center mt-2 class="container1">
    <v-layout>
      <v-flex>
        <h6 class="display-4 info-title mt-4">SUSCRÍBETE</h6>
      </v-flex>
    </v-layout>
    <v-divider />
    <div id="cardNews">
      <b-card border-variant="light" header="" class="text-center">
        <b-card-text
          ><h5>
            De vez en cuando no está de más recibir algún descuento u oferta en
            tu Email. No te quedes sin esta oportunidad. Suscripción gratis y
            solo te tomará unos segundos.
          </h5></b-card-text
        >
      </b-card>
      <b-card>
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
          <b-form-group
            id="input-group-Email"
            label="Email:"
            label-for="inputEmail"
          >
            <b-form-input
              id="inputEmail"
              v-model="form.email"
              type="email"
              required
              placeholder="Ejemplo: asdf@asdf.com"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-Name"
            label="Nombre:"
            label-for="inputName"
          >
            <b-form-input
              id="inputName"
              v-model="form.name"
              required
              placeholder="Ingresa tu Nombre"
            ></b-form-input>
          </b-form-group>
          <div id="btnNews"><b-button type="submit" pill variant="info" size="lg">Enviar</b-button></div>
        </b-form>
      </b-card>
    </div>
    <v-divider />
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        name: "",
      },
      show: true,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      //alert(JSON.stringify(this.form));
      fetch('/api/customers', {
        method: 'POST',
        body: JSON.stringify(this.form),
        headers: {
          'Accept': 'application/json', 
          'Content-type': 'application/json'
        }
      })
        .then(res => res.json())
        .then(data => console.log(data));

      this.onReset();
      window.alert('ENVIADO!');
    },

    onReset() {
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>

<style>
.info-title {
  text-align: center;
}
.container1 {
  margin: 3%;
  background-color: rgba(247, 243, 243, 0.747);
}
#cardNews {
  margin: 3%;
}
#btnNews {
 
  text-align: center;
}
</style>