<template>
  <div>
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/admin">Admin</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>

#nav {
  text-align: right;
  padding-right: 2%;
  background-color: rgb(29, 29, 29);
}

#nav a {
  size: 8px;
  color: #a8a6a6;
}

#nav a.router-link-exact-active {
  color: #b4b4b4;
}
</style>
